---
import BaseHead from '../components/BaseHead.astro';
import BlogBody from '../components/BlogBody';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-blank">
		<BlogBody client:load />
	</body>
</html>