*{
    font-family: 'Lato', sans-serif;
}
.prose pre{
    background-color: var(--adorn-color);
}
.overflow-auto,.overflow-y-auto{
    &::-webkit-scrollbar{
        width: 4px;
        background-color: var(--blank-color);
    }
}