:root{
    --blank-color:#cfd8dd;
    --primary-color:#7a93bd;
    --secondary-color:#6b7e99;

    --accent-color:#4a6fa5;

    --desc-color:#6b6b6b;
    --text-color:#414141;
    --adorn-color:#c0d6df;
    --notice-color:#854442;
}
:root.dark{
  --blank-color: #272d33;      /* 背景色 */
  --primary-color: #54688d;    /* 主要色 */
  --secondary-color: #6b7e99;  /* 次要色 */

  --accent-color: #7899bd;     /* 强调色 */

  --desc-color: #8a8a8a;       /* 描述文字颜色 */
  --text-color: #d1d1d1;       /* 主要文字颜色 */
  --adorn-color: #7a9eb5;      /* 装饰性颜色 */
  --notice-color: #a57774;     /* 提醒色 */
}