:root {
  --base-color:#cbbca4 ;
  // --base-color:#d3d4cf;

  // --base-color: #f2f0e7;
  --blank-color: #fff6e1;
  --primary-color: #f86d66;
  --secondary-color: #f2a04a;
  --accent-color: #f4dc58;

  --desc-color: #cfc9bb;

  --main-color: #252f3b;
  --sub-color: #686253;
}

.dark {
  --base-color: #08152d;
  --blank-color: #2f4b79;
  --primary-color: #5d9a5a;
  --secondary-color: #768ea6;
  --accent-color: #a083b9;
  --desc-color: #505050;
  --main-color: #f5f6f8;
  --sub-color: #c2c3c4;
}