:root {
  --base-color:#cbbca4 ;
  // --base-color: #f2f0e7;
  --blank-color: #fff6e1;
  --primary-color: #f86d66;
  --secondary-color: #f2a04a;
  --accent-color: #f4dc58;

  --desc-color: #cfc9bb;

  --main-color: #252f3b;
  --sub-color: #686253;
}

:root.dark {
  --base-color: #1f2937;
  --blank-color: #2a3748;
  --primary-color: #627d98;
  --secondary-color: #768ea6;
  --accent-color: #7c8e70;
  --desc-color: #6b6b6b;
  --main-color: #b0bcc8;
  --sub-color: #d1d5db;
}